<div class="container-fluid bg-dark py-4 mb-4">
    <div class="container px-0">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark p-0" >
            <!-- Brand -->
            <a class="navbar-brand fuente6" href="#" style="font-size: 30px;">Hotel Z</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon" ></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Habitaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Restaurante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Salir</a>
                </li>
                </ul>
            </div>
        </nav>
    </div>
</div>