<app-header></app-header>
<div class="container-fluid">
    <div class="container p-0">
        <!-- NAME DE CLIENTE -->
        <p class="fuente5 m-0" style="font-size: 20px;">Alexander Saavedra Quillahuaman</p>
        <p class="fuente5 m-0 negrita" style="font-size: 20px;">ID:654ASD4A6S5SA</p>

        <!-- FOTO DE CLIENTE -->
        <img class="img-fluid my-4" src="../../assets/images/user.jpg" alt="" style="width: 200px;height: 200px;border-radius: 15px;border: 1px solid black;">

        <!-- ZONA DE MOVIMIENTOS Y RESERVAS -->

        <!-- RESER 1 -->
        <div class="mb-3" style="border: 5px solid black;border-radius: 15px;">
            <div class="grid__movimiento " >
                <!-- Habitacion -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Matrimonial</p>
                        <p class="m-0 fuente5 negrita">101</p>
                        <p class="m-0 fuente5 negrita">100$-dia</p>
                    </div>
                </div>
                <!-- Fecha In-Out -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Ingreso: <span>2021/10/09</span></p>
                        <p class="m-0 fuente5 negrita">Salida: <span>2021/10/11</span></p>
                    </div>
                </div>
                <!-- Precio-Habitacion -->
                <div class="item_movimiento relative text-center">
                    <p class="m-0 fuente5 negrita absolute centrado">Precio-Habitacion: <span>200$</span></p>
                </div>
                <!-- Detalle-Restaurante -->
                <div class="item_movimiento p-3">
                    <p class="m-0 fuente5 negrita">Restaurante:</p>
                    <div class="">
                        <p class="m-0 fuente5 ">Arroz con Huevo <span>5$</span></p>
                        <p class="m-0 fuente5 ">Arroz a la cubana <span>5$</span></p>
                        <p class="m-0 fuente5 negrita">Total: <span>10$</span></p>
                    </div>
                </div>
                <!-- Estado -->
                <div class="item_movimiento relative">
                    <button class="btn btn-warning negrita fuente5 absolute centrado">En curso...</button>
                </div>
            </div>
        </div>

        <!-- RESER 2 -->
        <div class="mb-3" style="border: 5px solid black;border-radius: 15px;">
            <div class="grid__movimiento " >
                <!-- Habitacion -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Simple</p>
                        <p class="m-0 fuente5 negrita">101</p>
                        <p class="m-0 fuente5 negrita">10$-dia</p>
                    </div>
                </div>
                <!-- Fecha In-Out -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Ingreso: <span>2021/05/04</span></p>
                        <p class="m-0 fuente5 negrita">Salida: <span>2021/05/10</span></p>
                    </div>
                </div>
                <!-- Precio-Habitacion -->
                <div class="item_movimiento relative text-center">
                    <p class="m-0 fuente5 negrita absolute centrado">Precio-Habitacion: <span>60$</span></p>
                </div>
                <!-- Detalle-Restaurante -->
                <div class="item_movimiento p-3">
                    <p class="m-0 fuente5 negrita">Restaurante:</p>
                    <div class="">
                        <!-- <p class="m-0 fuente5 ">Arroz con Huevo <span>5$</span></p> -->
                        <p class="m-0 fuente5 negrita">Total: <span>0$</span></p>
                    </div>
                </div>
                <!-- Estado -->
                <div class="item_movimiento relative">
                    <button class="btn btn-danger negrita fuente5 absolute centrado">Reciente</button>
                </div>
            </div>
        </div>

        <!-- RESER 2 -->
        <div class="mb-3" style="border: 5px solid black;border-radius: 15px;">
            <div class="grid__movimiento " >
                <!-- Habitacion -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Simple</p>
                        <p class="m-0 fuente5 negrita">101</p>
                        <p class="m-0 fuente5 negrita">10$-dia</p>
                    </div>
                </div>
                <!-- Fecha In-Out -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Ingreso: <span>2021/05/04</span></p>
                        <p class="m-0 fuente5 negrita">Salida: <span>2021/05/10</span></p>
                    </div>
                </div>
                <!-- Precio-Habitacion -->
                <div class="item_movimiento relative text-center">
                    <p class="m-0 fuente5 negrita absolute centrado">Precio-Habitacion: <span>60$</span></p>
                </div>
                <!-- Detalle-Restaurante -->
                <div class="item_movimiento p-3">
                    <p class="m-0 fuente5 negrita">Restaurante:</p>
                    <div class="">
                        <!-- <p class="m-0 fuente5 ">Arroz con Huevo <span>5$</span></p> -->
                        <p class="m-0 fuente5 negrita">Total: <span>0$</span></p>
                    </div>
                </div>
                <!-- Estado -->
                <div class="item_movimiento relative">
                    <button class="btn btn-success negrita fuente5 absolute centrado">Pagado</button>
                </div>
            </div>
        </div>

        <!-- RESER 3 -->
        <div class="mb-3" style="border: 5px solid black;border-radius: 15px;">
            <div class="grid__movimiento " >
                <!-- Habitacion -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Simple</p>
                        <p class="m-0 fuente5 negrita">101</p>
                        <p class="m-0 fuente5 negrita">10$-dia</p>
                    </div>
                </div>
                <!-- Fecha In-Out -->
                <div class="item_movimiento relative text-center">
                    <div class="absolute centrado">
                        <p class="m-0 fuente5 negrita">Ingreso: <span>2021/05/04</span></p>
                        <p class="m-0 fuente5 negrita">Salida: <span>2021/05/10</span></p>
                    </div>
                </div>
                <!-- Precio-Habitacion -->
                <div class="item_movimiento relative text-center">
                    <p class="m-0 fuente5 negrita absolute centrado">Precio-Habitacion: <span>60$</span></p>
                </div>
                <!-- Detalle-Restaurante -->
                <div class="item_movimiento p-3">
                    <p class="m-0 fuente5 negrita">Restaurante:</p>
                    <div class="">
                        <p class="m-0 fuente5 ">Arroz con Huevo <span>5$</span></p>
                        <p class="m-0 fuente5 negrita">Total: <span>10$</span></p>
                    </div>
                </div>
                <!-- Estado -->
                <div class="item_movimiento relative">
                    <button class="btn btn-info negrita fuente5 absolute centrado">Consumido</button>
                </div>
            </div>
        </div>
        
    </div>
</div>