<app-header></app-header>
<div class="container-fluid">
    <!-- RESTAURANTE  -->
    <div class="container p-0 bg-danger">
        <div class="row">
            <!-- SECCION DE RESTAURANTE -->
            <div class="col-12 bg-primary p-0">
                <div class="relative" style="height: 80px; background: rgb(0, 255, 179);">
                    <p class="absolute centrado fuente6" style="font-size: 40px;">RESTAURANTE</p>
                </div>

                <!-- DESAYUNO -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(27, 206, 87);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleDesayuno">DESAYUNO</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleDesayuno" style="background: rgb(71, 250, 130);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ALMUERZO -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(182, 21, 197);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleAlmuerzo">ALMUERZO</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleAlmuerzo" style="background: rgb(250, 71, 235);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CENA -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(194, 197, 21);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleCena">CENA</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleCena" style="background: rgb(238, 250, 71);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/plato.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 20px;">Arroz con huevo y platano <br>5$</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>