<app-header></app-header>
<div class="container-fluid my-5">
    <!-- HABITACIONES AND PERFIL -->
    <div class="container p-0 bg-danger">
        <div class="row">
            <!-- SECCION DE HABITACIONES -->
            <div class="col-12 bg-primary p-0">
                <div class="relative" style="height: 80px; background: rgb(0, 255, 179);">
                    <p class="absolute centrado fuente6" style="font-size: 40px;">HABITACIONES</p>
                </div>

                <!-- MATRIMONIAL -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(27, 206, 87);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleMatrimonial">MATRIMONIAL</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleMatrimonial" style="background: rgb(71, 250, 130);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">201</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">202</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- TRIPLE -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(182, 21, 197);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleTiple">TRIPLE</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleTiple" style="background: rgb(250, 71, 235);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">301</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">502</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DOBLE -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(194, 197, 21);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleDoble">DOBLE</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleDoble" style="background: rgb(238, 250, 71);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">301</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">502</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SIMPLE -->
                <div>
                    <div class="relative" style="height: 80px; background: rgb(21, 127, 197);">
                        <p class="absolute centrado fuente6 raton" style="font-size: 30px;" type="button" data-toggle="collapse" data-target="#collapsibleSimple">SIMPLE</p>
                    </div>

                    <div class="collapse navbar-collapse" id="collapsibleSimple" style="background: rgb(71, 238, 250);">
                        <!-- HAB 1 -->
                        <div class="grid_habitacion" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">301</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>

                        <!-- HAB 2 -->
                        <div class="grid_habitacion mt-3" style="border: 2px solid black;">
                            <div class="item__habitacion relative">
                                <div class=" absolute centrado" style="width: fit-content;">
                                    <img src="../../assets/images/habitacion.jpg" class="img-fluid" style="width: 300px;height: 200px;border: 2px solid black;border-radius: 15px;">
                                </div>
                            </div>
                            <div class="item__habitacion relative">
                                <p class="m-0 fuente5 absolute centrado" style="font-size: 50px;">502</p>
                            </div>
                            <div class="item__habitacion relative">
                                <button class="absolute centrado btn btn-dark fuente1" style="font-size: 30px;">Seleccionar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>