<div class="container-fluid portada__contenedor" style="padding-top: 70px;height: 100%;"> 
    <div class="p-sm-3" style="background: rgba(0, 0, 0, 0.35);">
        <div class="text-center" >
    
            <!-- TITULO -->
            <h1 class="fuente6 blanco m-0">Hotel Z</h1>
    
            <!-- OPCIONES DE INGRESO -->
            <div>
                <!--  -->
                <p class="fuente2 my-sm-5 negrita blanco m-0 my-3 " style="font-size: 30px;">Ingresar con:</p>
                <!-- BOTON DE FACEBOOK -->  
                <button class="btn btn-info px-5 fuente6 mr-sm-5" style="font-size: 40px;">Facebook</button>
                <!-- BOTON DE GOOGLE -->
                <button class="btn btn-danger px-5 fuente6 my-sm-5 mt-4 mt-sm-0" style="font-size: 40px;">Google</button>
                <!--  -->
                <p class="fuente2 negrita blanco mt-3 mt-sm-0" style="font-size: 30px;">Consulte aqui:</p>
                <!-- BOTON DE GOOGLE -->
                <button class="btn btn-success px-5 fuente6 my-sm-5" style="font-size: 40px;">Whatsapp</button>
            </div>
    
        </div>
    
        <!-- FOOTER MINI REDES SOCIALES AND UBICACION -->
        <div class="d-sm-flex justify-content-between ">
            <!-- UBICACION -->
            <div>
                <p class="fuente4 m-0 mt-sm-5 mb-4 blanco ubicacion mt-4">Ollantaytambo-Cusco-Peru</p>
            </div>
            <!-- REDES SOCIALES -->
            <div class="pt-3 redesSociales pb-4" >
                <div class="d-flex justify-content-between">
                    <i class="fab fa-facebook-square blanco raton" ></i>
                    <i class="fab fa-instagram-square blanco raton mx-sm-5" ></i>
                    <i class="fab fa-youtube-square blanco raton" ></i>
                    <i class="fab fa-twitter-square blanco raton ml-sm-5" ></i>
                </div>
            </div>
        </div>
    </div>
    </div>