/* ESTILOS EN PANTALLA GRANDE Y GENERALES */

.portada__contenedor{
    background-image: url(../../assets/images/portada.jpg) ;
    background-size: cover;
    background-position: center center;
    position: fixed;
}
.ubicacion{
    font-size: 30px;
}
.redesSociales i{
    font-size: 80px;
}
/* =========================================
                    HEADER
============================================ */

/* =========================================
                    BANNER
============================================ */

/* =========================================
                    MENU
============================================ */

/* =========================================
                    TOP TOURS
============================================ */

/* =========================================
                    ESPECIAL TOURS
============================================ */

/* =========================================
                    TESTIMONIALS
============================================ */

/* =========================================
                    REDES SOCIALES
============================================ */

/* -------------------------------------
-------TABLET HORIZONTAL LG 1024px------
---------------------------------------- */

.Tablet {}

@media(max-width:1199px) and (min-width:992px) {
    
}
/* -------------------------------------
-------TABLET VERTICAL MD 768px---------
---------------------------------------- */

.Tablet2 {}

@media(max-width:991px) and (min-width:768px) {

}
/* -------------------------------------
-------MOVIL HORIZONTAL SM 576px--------
---------------------------------------- */

.Phone {}

@media(max-width:767px) and (min-width:576px) {
 
}


/*--------------------------------------
------- MOVIL VERTICAL 320px------------
---------------------------------------- */

.Phone1 {}

@media(max-width:575px) {
    .ubicacion{
        font-size: 20px;
        text-align: center;
    }
    .redesSociales i{
        font-size: 40px;
    }
    .redesSociales {
        text-align: center;
    }
}